.navbar{
        width: 60%;
        background-color: #888282;
        border-top:3px dotted #000000;
        border-bottom:3px dotted #000000;
        display: flex;
        align-items: center;
        padding: 10px;
}
.logo{
        padding: 10px;
        font-weight: bold;
}
body{
        color:aliceblue;
}
.nav-links{
        display: flex;
        list-style: none;
        gap: 7px;
        margin-right: auto;
}
a{
        text-decoration: none;
        color: aliceblue;
}
button{
        margin-right: auto;
        background-color: #642626;
        border: none;
        color: aliceblue;
        font-weight: bold;
}
.nav-links a:hover{
        color: #421a1a;
}
